<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.christopherdwhite.rate-playing-itunes-track</string>
	<key>category</key>
	<string>🄸 iTunes Mode</string>
	<key>connections</key>
	<dict>
		<key>03A4A359-39C0-487A-AB4D-CB398E652A53</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4AFC2626-BEB8-4D01-BF36-9B3C40D5C69D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4AFC2626-BEB8-4D01-BF36-9B3C40D5C69D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2E5C0307-1E38-44AF-ACF0-F029391069F2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>799B9479-9FBE-45E9-9557-20092C6A3CEF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2E5C0307-1E38-44AF-ACF0-F029391069F2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BFA2121E-9834-4457-AB84-F621F1E4A163</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2E5C0307-1E38-44AF-ACF0-F029391069F2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chris White</string>
	<key>description</key>
	<string>Love and rate currently playing iTunes song</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Rate Playing iTunes Track</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>toggle</string>
				<key>argumenttype</key>
				<integer>3</integer>
				<key>triggerid</key>
				<string>loveTrack</string>
				<key>triggername</key>
				<string>Toggle Loved</string>
				<key>workflowonly</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.remote</string>
			<key>uid</key>
			<string>BFA2121E-9834-4457-AB84-F621F1E4A163</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>itunes</string>
				<key>subtext</key>
				<string>Check if currently playing track is loved and toggle it.</string>
				<key>text</key>
				<string>Toggle Track Loved</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>03A4A359-39C0-487A-AB4D-CB398E652A53</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)	tell application "iTunes"		if exists current track then			set currentTrackName to name of current track			if loved of the current track is true then				set loved of current track to false				display notification "“" &amp; currentTrackName &amp; "” unloved ♡."			else				set loved of the current track to true				display notification "“" &amp; currentTrackName &amp; "” loved ♥."			end if		else			display notification "No track is currently playing."		end if	end tellend alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>2E5C0307-1E38-44AF-ACF0-F029391069F2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>love</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Checking status of current track</string>
				<key>script</key>
				<string>osascript ScriptFilter-GetPlayingSong.applescript</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>ScriptFilter-GetPlayingSong.applescript</string>
				<key>subtext</key>
				<string>Check if currently playing track is loved and toggle it.</string>
				<key>title</key>
				<string>Toggle Track Loved</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>4AFC2626-BEB8-4D01-BF36-9B3C40D5C69D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>toggle</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>799B9479-9FBE-45E9-9557-20092C6A3CEF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>toggle</string>
				<key>argumenttype</key>
				<integer>3</integer>
				<key>triggerid</key>
				<string>dislike</string>
				<key>triggername</key>
				<string>Toggle Disliked</string>
				<key>workflowonly</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.remote</string>
			<key>uid</key>
			<string>A64574A2-7421-480F-808E-E4D73CD672B3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>dislike</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>query=$1

echo -n $query</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>764A76C7-A85B-447B-A617-EC75D91A8542</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>dislike</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>ABA09FEF-FCAD-42EA-839F-3BEFE3293622</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>rate</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>query=$1

echo -n $query</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>D18B16C3-5625-4802-A2F4-C30E295962AA</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>rate1</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>2AEE2538-9EA8-4FEF-9823-18C9FBFC0C87</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>rate2</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>86620CF5-E2BE-45B3-ADF3-66EBDD899D30</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>rate3</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>9A14E1BF-0769-4A85-8CB1-68F7D521B00B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>rate4</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>CE4B137E-9F92-47E0-96B8-2EC9039B4F66</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>rate5</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>64B46F7C-8AF7-4972-87A6-63C6E9763736</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>TODO: Add description</string>
	<key>uidata</key>
	<dict>
		<key>03A4A359-39C0-487A-AB4D-CB398E652A53</key>
		<dict>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>2AEE2538-9EA8-4FEF-9823-18C9FBFC0C87</key>
		<dict>
			<key>note</key>
			<string>Placeholder</string>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>1030</integer>
		</dict>
		<key>2E5C0307-1E38-44AF-ACF0-F029391069F2</key>
		<dict>
			<key>note</key>
			<string>Early placeholder until I get script filter Finished.
Love should rate 5 stars</string>
			<key>xpos</key>
			<integer>450</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>4AFC2626-BEB8-4D01-BF36-9B3C40D5C69D</key>
		<dict>
			<key>xpos</key>
			<integer>170</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>64B46F7C-8AF7-4972-87A6-63C6E9763736</key>
		<dict>
			<key>note</key>
			<string>Placeholder</string>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>1550</integer>
		</dict>
		<key>764A76C7-A85B-447B-A617-EC75D91A8542</key>
		<dict>
			<key>note</key>
			<string>Placeholder
Should rate 1 star</string>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>530</integer>
		</dict>
		<key>799B9479-9FBE-45E9-9557-20092C6A3CEF</key>
		<dict>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>270</integer>
		</dict>
		<key>86620CF5-E2BE-45B3-ADF3-66EBDD899D30</key>
		<dict>
			<key>note</key>
			<string>Placeholder</string>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>1160</integer>
		</dict>
		<key>9A14E1BF-0769-4A85-8CB1-68F7D521B00B</key>
		<dict>
			<key>note</key>
			<string>Placeholder</string>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>1290</integer>
		</dict>
		<key>A64574A2-7421-480F-808E-E4D73CD672B3</key>
		<dict>
			<key>note</key>
			<string>Placeholder</string>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>410</integer>
		</dict>
		<key>ABA09FEF-FCAD-42EA-839F-3BEFE3293622</key>
		<dict>
			<key>note</key>
			<string>Placeholder</string>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>670</integer>
		</dict>
		<key>BFA2121E-9834-4457-AB84-F621F1E4A163</key>
		<dict>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>CE4B137E-9F92-47E0-96B8-2EC9039B4F66</key>
		<dict>
			<key>note</key>
			<string>Placeholder</string>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>1420</integer>
		</dict>
		<key>D18B16C3-5625-4802-A2F4-C30E295962AA</key>
		<dict>
			<key>note</key>
			<string>Placeholder
This action won't require remote actions as they're already built into the iTunes actions.</string>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>840</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>0.1</string>
	<key>webaddress</key>
	<string>https://github.com/christopherdwhite/alfred-workflow-rate-playing-itunes-track</string>
</dict>
</plist>
